/*Set the wallpaper image to fit the height of the browser*/

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;

    transition-property: all;
    transition-property: transform 1s;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    color: black;
    padding-top: 150px;
    align-self: center;
}

body {
    background-image: url(header.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    /*	Hides the bottom scrollbar when hover to button*/
    overflow-x: hidden;
}

.btn-primary {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 300px;
    margin-top: 150px;
    width: 50%;
}


.btn-primary:hover {
    border-color: white;
    border-width: 2px;
    transform: scale(1.2);
    cursor: pointer;
}